# 📦 Node.js
node_modules/

# ⚙️ Build output
build/
dist/

# ⚠️ Личные/системные файлы
.env
.env.local
.DS_Store
Thumbs.db

# 🧠 IDE/редактор
.vscode/
.idea/

# 🔧 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💥 Патчи и бэкапы
patches/backups/
*.zip

# 🧪 Coverage / cache
coverage/
.nyc_output
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_*/

# TypeScript / tools
*.tsbuildinfo
.eslintcache
.stylelintcache

# Yarn 2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Others
.node_repl_history
*.tgz
