# 📦 Node.js
node_modules/

# ⚙️ Build output
build/
dist/

# ⚠️ Личные/системные файлы
.env
.DS_Store
Thumbs.db

# 🧠 IDE/редактор
.vscode/
.idea/

# 🔧 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💥 Патчи и бэкапы (если не хочешь заливать)
patches/backups/
*.zip

# 🔐 Бэкапы макоси и редакторов
*.swp
*.bak
*.tmp

# 📸 Скрины или демо
