.wiki-footer
  font-size: 0.75em
  color: #202122
  padding: 20px
  background-color: #f8f9fa
  display: flex
  flex-direction: column
  margin: 0 0 1rem 10rem
  max-width: 1300px

  a 
    color: #3366cc
    text-decoration: none

    &:hover
      text-decoration: underline

  &__top
    margin-bottom: 20px

  &__middle
    ul
      display: flex
      flex-wrap: wrap
      gap: 15px
      list-style: none
